

        <div class="main-content">
        
                <!-- You only need this form and the form-validation.css -->
        
                <form class="form-validation" method="get" action="create">
        
                    <div class="form-title-row">
                        <h1>SIGNUP</h1>
                      
                    </div>
        
                    <div class="form-row form-input-name-row">
        
                        <label>
                            <span>ROLLNUMBER</span>
                            <input type="text" name="rollnumber">
                        </label>
        
                        <!--
                            Add these three elements to every form row. They will be shown by the
                            .form-valid-data and .form-invalid-data classes (see the JS for an example).
                        -->
        
                        <span class="form-valid-data-sign"><i class="fa fa-check"></i></span>
        
                        <span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
                        <span class="form-invalid-data-info"></span>
        
                    </div>
        
                    <div class="form-row form-input-email-row">
        
                        <label>
                            <span>PASSWORD</span>
                            <input type="password" name="password" >
                        </label>
        
                        <span class="form-valid-data-sign"><i class="fa fa-check"></i></span>
        
                        <span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
                        <span class="form-invalid-data-info"></span>
        
                    </div>
                    <div class="form-checkbox input">
                    
                                    <label>
                                        <span >Teacher</span>
                                        <input type="checkbox" name="check_box" >
                                    </label>
                    
                                    <span class="form-valid-data-sign"><i class="fa fa-check"></i></span>
                    
                                    <span class="form-invalid-data-sign"><i class="fa fa-close"></i></span>
                                    <span class="form-invalid-data-info"></span>
                    
                                </div>
                    <div class="form-row">
        
                        
        
                    </div>
        
                    <div class="form-row">
        
                       
        
                    </div>
        
                    <div class="form-row">
        
                        <button type="submit">Signup</button>
        
                    </div>
                    <%= link_to("ALREADY A MEMBER ? LOGIN",{:controller=>'signups',:action => 'haider'}) %>
                </form>
                
            </div>