<div class='notice'>
<%= link_to("<<BACK TO LIST",{:action => 'list'},:class => 'back-link') %>
</div>
<div class="subject show">
<div class="subject new">
    <h2>Make Announcement</h2>

    <%= form_for(:subject ,:url =>{:action => 'makeAnn'}, :method => :get) do |f| %>
        <table summary="Subject form fields">
        <tr>
            <th>Announcement</th>
            <td><%= f.text_area( :size =>"40x5") %> </td>
        </tr>
        
        </table>
        <div class="form-buttons">
            <%= submit_tag("Make Announcements") %>
            </div>
        <% end %>
        </div>
