<!DOCTYPE html>
<html lang="en" style="background-color:lightgrey;">
  <head>
    <meta http-equiv="Content-Type" content="text/html"; charset=utf-8">
    <title> Smart Student Station </title>
    <meta name "author" content ="haider Naveed">
    <link href="/stylesheets/public.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/stylesheets/teacher.css" rel="stylesheet" type="text/css" media="all" />
    
      </head>

  <body  >
    <div id="header" >
        <h1> Smart Student Station</h1>
    </div>
    <div class="content">
    <%= yield %>
    </div>
    <div id="footer">
    <p> SSS- Teacher Area </p>
</div>
  </body>
</html>
